Первое и единственное требование - RenPy версии 8.0 и выше

Как поиграть:

1. Скачать и установить Ren'Py с сайта https://www.renpy.org/
2. Скачать архив этого репозитория (Code → Download ZIP)
3. Распаковать папку с игрой в папку "renpy-[версия]-sdk/"
4. Запустить Ren'Py, нажать Обновить(Refresh) в разделе проектов, выбрать проект и запустить его (Launch Project)

Или скачайть готовую сборку в разделе Releases.